.aboutCv p {
	font-variant: normal;	
	font-weight: lighter;	
}
.sub span{
	color: #D90452;
}
.mn span {
	font-variant: normal;
	font-weight: lighter;
}
.card1 {
	padding: 20px;
}
.card1 h4 {
	color: #D90452;
}

@media (min-width: 300px){
	.about {
		padding-top: 50px;
		}
	.aboutCv p {
		font-size: 20px;
		}
	.aboutCv h4 {
		font-size: 20px;
		}
	.aboutCv {
		justify-items: left;
		margin-left: 250px;
		width: 58%;
		}
	.sub span{
		font-size: 15px;
		}
	table {
		margin-top: 50px;
		margin-left: 0;
		}
	td {
		padding: 10px;
		text-align: right;
		}
	.mn span{
		font-size: 15px;
		}
	.card1 {
		text-align: left;
		}
	.card1 p {
		font-size: 15px;
		}

}
@media (min-width: 768px){
	.about {
		padding-top: 50px;
		}
	.aboutCv p {
		font-size: 20px;
		}
	.aboutCv h4 {
		font-size: 20px;
		}
	.aboutCv {
		justify-items: left;
		margin-left: 250px;
		width: 58%;
		}
	.sub span{
		font-size: 15px;
		}
	table {
		margin-top: 50px;
		margin-left: 0;
		}
	td {
		padding: 10px;
		text-align: right;
		}
	.mn span{
		font-size: 15px;
		}
	.card1 {
		text-align: left;
		}
	.card1 p {
		font-size: 15px;
		}
}
@media (min-width: 1024px) {
.about {
	padding-top: 50px;
	}
.aboutCv p {
	font-size: 25px;
	}
.aboutCv h4 {
	font-size: 25px;
	}
.aboutCv {
	justify-items: left;
	margin-left: 400px;
	width: 58%;
	}
.sub span{
	font-size: 20px;
	}
table {
	margin-top: 50px;
	margin-left: 0;
	}
td {
	padding: 15px;
	text-align: right;
	}
.mn span{
	font-size: 20px;
	}
.card1 {
	text-align: left;
	}
.card1 p {
	font-size: 20px;
	}
}
@media (min-width: 1440px) {
	.about {
		padding-top: 50px;
		}
	.about h2 {
		text-align: left;
		}
	.aboutCv p {
		font-size: 30px;
	}
	.aboutCv h4 {
		font-size: 30px;
	}
	.aboutCv {
		justify-items: left;
		margin-left: 550px;
		width: 56%;
	}
	.sub span{
		font-size: 30px;
	}
	table {
		margin-top: 50px;
		margin-left: 0;
	}
	td {
		padding: 15px;
		text-align: right;
	}
	.mn span{
		font-size: 30px;
	}
	.card1 {
		text-align: left;
	}
	.card1 p {
		font-size: 25px;
	}
}

  