.lang span {
    padding: 20px; 
	font-family: 'Roboto', sans-serif;
	font-variant: normal;
 }
 .pageSection p {
	margin: 50px 20px;
	line-height: 0.1em;
 }
 
@media (min-width: 300px) {
    .aboutLang {
		height: 100%;
		width: 100%;		
	}
}
@media (min-width: 768px) {
    .aboutLang {
		height: 100%;
		width: 100%;
	}

}
@media (min-width: 1024px){
	.aboutLang {
		height: 100%;
	}
	.pageSection p {
		letter-spacing: 3px;
		font-size: 18px;
	}
}
@media (min-width: 1400px){
	.aboutLang {
		height: 100%;
	}
}


