.aboutCv p {
	font-family: "Candara";
	font-variant: normal;	
	font-weight: lighter;	
}
.sub {
	font-family: "Bradley Hand ITC";
	color: #D90452;
	font-variant: normal;
}
.mn {
	font-family: "Candara";
	font-variant: normal;
	font-weight: lighter;
}
.card1 {
	border: #D90452 2px solid;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.card1 h4 {
	color: #D90452;
	font-family: "Bodoni MT";
}
.card1:hover {
	box-shadow: 0 0 0 0 rgba(0,0,0,0.2), 0 0 0 0 rgba(0,0,0,0.19);

}
@media (min-width: 300px){
		.row1 p{
			letter-spacing: 1px;
			font-family: "Roboto", sans-serif;
			font-variant: normal;
			font-weight: 500;
			font-size: 17px;
			margin-bottom: 50px;
			}

}
@media (min-width: 768px){
.row1 p{
	letter-spacing: 1px;
	font-family: "Roboto", sans-serif;
	font-variant: normal;
	font-weight: 500;
	font-size: 20px;
	}
}
@media (min-width: 1024px) {

	.row1 p{
		letter-spacing: 1px;
		font-variant: normal;
		}
	.row1{
		margin-bottom: 50px;
			}
}
@media (min-width: 1440px) {
	.about {
		padding-top: 50px;
		}
	.about h2 {
		text-align: left;
		}
	.aboutCv p {
		font-size: 30px;
	}
	.aboutCv {
		justify-items: left;
		margin-left: 550px;
		width: 56%;
	}
	.sub {
		font-size: 30px;
	}
	table {
		margin-top: 50px;
		margin-left: 0;
	}
	td {
		padding: 15px;
		text-align: left;
	}
	.mn {
		font-size: 30px;
	}
	.cardwrapper {
		display: grid;
		grid-template-columns: 45% 45%;
		justify-content: space-between;
		grid-template-rows: auto auto;
	}
	.card1 {
		grid-column: auto;
		grid-row: auto;
		text-align: center;
	}
	.card1 p {
		font-size: 25px;
	}
}

  