.linky{
    margin-top: 20px;
}
.contact-link {
    display: flex;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.contact-link a {
    color: #f8f9fa;
}
.contacting h5 {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

@media (min-width: 300px){
   #email{
       font-size: smaller;
   }

    .contact {
        margin-bottom: 10px;
    }
    .contact-link {
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        margin: 20px;
        font-weight: lighter;
    }
    .contact-link svg {
        margin: 20px;
    }
}
@media (min-width: 768px){
    .contact {
        margin-bottom: 10px;
    }
    .contact-link {
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        margin: 20px;
        font-weight: lighter;
        letter-spacing: 2px;
    }
    .contact-link svg {
        margin: 20px;
    }
    
}
@media (min-width: 1024px){
    .contact {
        margin-bottom: 10px;
    }
    .contact-link {
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        margin: 20px;
        font-weight: lighter;
        letter-spacing: 2px;
    }
    .contact-link svg {
        margin: 20px;
      
    }
}
@media (min-width: 1440px){
    .contacting {
        justify-items: right;
		margin-left: 550px;
		width: 56%;
    }
    .contact {
        margin-bottom: 10px;
        padding-top: 50px;
		margin-top: 50px;
    }
    .contact-link {
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 25px;
        margin: 20px;
        font-weight: lighter;
        letter-spacing: 2px;

    }
    .contact-link svg {
        margin: 20px;
    }
}


