body {
	margin: 0 auto;
}
p, h1, h2, h3, h4, h5, h6{
	cursor:default;
}
.Landingpage {
	display: flex;
	align-items: flex-end;
	justify-content: right;
	background-image: url(images/9.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
}
.title1 {
	font-family: "Bodoni MT";
	margin-bottom: 50px;
	display: inline;
	color: #41A689;
}
.title2 {
	font-family: "Bodoni MT";
	margin-bottom: 50px;
	display: inline;
	color: #41A689;
}
@media (min-width: 200px){
	.Landingpage {
        background-position: center;
        background-repeat: no-repeat;
		align-items: center;
	}
	.vl {
		display: block;
		width: 10px;
		height: var(--scroll-per);
		position: fixed;
		border-left: 5px solid #41A689;
		background-repeat: no-repeat;
		left: 0;
		top: 0;
		overflow: hidden;
		z-index: 3;
	}
    .heroText{
		width: 100%;
	}
	.heroText h1{
		font-family: "Bodoni MT";
		font-size: 4.5em;
		letter-spacing: .15em;
		line-height: 1.2;
	}
	.heroText h3{
		font-size: 2em;
		letter-spacing: 0.5em;
		line-height: 1.2;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

.title1, .title2 {
	font-size: 3em;
	padding-top: 50px;
	margin-top: 200px;
}
.title1{
	margin-left: 20px;
}
.title2 {
	margin-left: 40px;
}
}
@media (min-width: 768px){
	.Landingpage {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;		
}
    .heroText{
		width: 100%;
		height: 80%;
	}
	.heroText h1{
		font-family: "Bodoni MT";		
		font-size: 8em;
		letter-spacing: .15em;
		line-height: 1.2;
	}
	.heroText h3{
		font-size: 3em;
		letter-spacing: 0.5em;
		line-height: 1.2;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

h2 {
	font-size: 40px;
	text-align: center;
}
.vl {
	display: block;
	width: 10px;
	height: var(--scroll-per);
	position: fixed;
	border-left: 2px solid #41A689;
	background-repeat: no-repeat;
	left: 50px;
	top: 0;
	overflow: hidden;
	z-index: 3;
}
.title1, .title2 {
	font-size: 6em;
	padding-top: 50px;
	margin-top: 200px;
}
.title1{
	margin-left: 50px;
}
.title2 {
	margin-left: 100px;
}
}
@media (min-width: 1024px){
	.vl {
		left: 100px;
	}
	.Landingpage {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
	}
	.heroText {
		width: 100%;
		height: 80%;
		}
	.heroText h1{
		font-size: 9.5em;
		font-family: "Bodoni MT";
		line-height: 1.2;
}
	.heroText h3{
		font-size: 4em;
		letter-spacing: 0.5em;
		line-height: 1.2;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;	
	}
	.title1, .title2 {
		font-size: 8em;
		padding-top: 50px;
		margin-top: 200px;
	}
	.title1{
		margin-left: 100px;
	}
	.title2 {
		margin-left: 150px;
	}
}
@media (min-width: 1440px){	
	.vl {
		left: 150px;
	}
	.Landingpage {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
	}
	.heroText {
		width: 100%;
		height: 80%;
		}
	.heroText h1{
		font-size: 12em;
		font-family: "Bodoni MT";
		line-height: 1.2;
}
	.heroText h3 {
		font-size: 4em;
		letter-spacing: 0.3em;
		line-height: 1.2;
	}
	.title1, .title2 {
		font-size: 11.5em;
		padding-top: 50px;
		margin-top: 200px;
	}
	.title1{
		margin-left: 150px;
	}
	.title2 {
		margin-left: 200px;
	}
}  