@media (min-width: 300px){
  .projects {
    height: 100%;
  }
  .card{
    height: 50vh;
  }
  .over{
    margin: 10px; 
    margin-top: 60px
  }
}
@media (min-width: 768px) {
  .projects {
    height: 100%;
  }
  .projects-view{
    justify-content: space-between;
    align-content: center;
  }
  .card{
    height: 50vh;
  }
  .over{
    margin: 10px; 
    margin-top: 60px;
  }
}
@media(min-width: 1000px){
  .projects {
    height: 100%;  
  }
    .projects-view{
      justify-content: space-between;
      align-content: center;
  } 
  .card{
    height: 40vh;
  }
}
@media(min-width: 1440px) {
  .projects {
    height: 100%;
  
  }
  .projects-view{
    justify-content: space-between;
    align-content: center;
  }
  
  .card{
    height: 50vh;
  }
  .over{
    margin: 10px; 
    margin-top: 60px
  }
}