.project1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #262626;
  transition: .5s ease;
}
.projecttitle span{
  color: #D90452;
  background-color: #262626;
  padding-right: 20px;
}
.projecttitle {
  border-bottom: #D90452 2px solid;
  line-height: 1.2px;
}
.projectintro {
  font-weight: lighter;
  font-variant: normal;
}

#project1:hover {
  background-image: url(images/comp1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#project2:hover {
  background-image: url(images/comp2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#project3:hover {
  background-image: url(images/comp3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#project4:hover {
  background-image: url(images/comp4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#project5:hover {
  background-image: url(images/comp5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectsub{
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}


@media (min-width: 200px){
  .wrapper2 {
		justify-items: left;
		margin-left: 20px;
    margin-right: 20px;
  }
  .project1 {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 35px;
  }
  .projecttitle {
    font-size: 25px;
  }
  .projectintro {
    font-size: 20px;
    margin-top: 20px;
  }
  .projects {
    padding-top: 50px;
		margin-top: 50px;
  }
  .projectsub {
    font-size: 20px;
    letter-spacing: 3px;
  }
}
@media (min-width: 768px) {
  .wrapper2 {
		justify-items: left;
		margin-left: 250px;
		width: 58%;
  }
  .project1 {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 35px;
  }
  .projecttitle {
    font-size: 25px;
  }
  .projectintro {
    font-size: 20px;
    margin-top: 20px;
  }
  .projects {
    padding-top: 50px;
		margin-top: 50px;
  }
  .projectsub {
    font-size: 20px;
    letter-spacing: 3px;
  }
}
@media(min-width: 1000px){
  .wrapper2 {
		justify-items: left;
		margin-left: 400px;
		width: 58%;
  }
  .project1 {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 35px;
  }
  .projecttitle {
    font-size: 30px;
  }
  .projectintro {
    font-size: 25px;
    margin-top: 20px;
  }
  .projects {
    padding-top: 50px;
		margin-top: 50px;
  }
  .projectsub {
    font-size: 25px;
    letter-spacing: 3px;
  }
}
@media(min-width: 1440px) {
  .wrapper2 {
		justify-items: left;
		margin-left: 550px;
		width: 56%;
  }
  .project1 {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 35px;
  }
  .projecttitle {
    font-size: 30px;
  }
  .projectintro {
    font-size: 25px;
    margin-top: 20px;
  }
  .projects {
    padding-top: 50px;
		margin-top: 50px;
  }
  .projectsub {
    font-size: 25px;
    letter-spacing: 3px;
  }
}